html{
  height:auto;
}
body{
    font-family: 'Shippori Mincho', serif;
    height: auto;
}
.backgroundimg {
    position: relative;
    background-image: url("image/seigaiha.png");
    width: 1409px;
    /* width:100%; */
    height: 1080px;
    /* background-repeat: no-repeat; */
    background-color: rgba(255, 255, 255, 0.8);
    background-blend-mode: lighten;
  }

  .haru {
    position: absolute;
    width: 303px;
    height: 161px;
    top: 281px;
    left: 754px;
  }
  .natu {
    position: absolute;
    top: 363px;
    left: 573px;
  }
  .aki {
    position: absolute;
    top: 363px;
    left: 935px;
  }
  .koi {
    position: absolute;
    width: 301px;
    height: 161px;
    top: 434px;
    left: 394px;
  }
  .fuyu {
    position: absolute;
    width: 303px;
    height: 161px;
    top: 434px;
    left: 754px;
  }
  
  .kiryo {
    position: absolute;
    width: 301px;
    height: 161px;
    top:434px;
    left: 1117px;
  }
  .ribetu {
    position: absolute;
    top: 518px;
    left: 573px;
  }
  .zatu {
    position: absolute;
    top: 518px;
    left: 935px;
  }
  
  .explain {
    position: absolute;
    top: 250px;
    left: 50px;
    width: 250px;
    height: 450px;
    background-color: white;
    writing-mode: vertical-rl;
    padding: 20px 10px;
  }
  
  .linkougi{
    position: relative;
    width:1409px;
    height: 1080px;
    /* border: solid; */
    overflow: hidden;
  }


  .sankou {
    position: absolute;
    top: 960px;
    font-size:12px;
    width: 1409px;
    text-align: center;
  }

  .footer {
    position: relative;
    font-size:20px;
    top: 0px;
    width: auto;
    text-align: center;
  }
  
  /*タイトル入れる雲？ */
  .title{
    position:absolute;
    z-index: 10;
    width: 1409px;
    height: 130px;
  }

/* 雲達 */
.kumo{
  position: relative;
}
.kumo img{
  position: absolute;
  z-index: 5;
}


/* 雲の場所 */
.kumo1{
  top: 850px;
  left: 30px;
}
.kumo4{
  top: 900px;
  left: 700px;
}
.kumo6{
  top: 600px;
  left: 700px;
}
.kumo8{
  top: 700px;
  left: 50px;
}
.kumo10{
  top: 750px;
  left: 600px;
}

  
 