body{
    font-family: 'Shippori Mincho', serif;
}
.backgroundimg {
    background-image: url("image/seigaiha.png");
    width: 1920px;
    height: 1080px;
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, 0.8);
    background-blend-mode: lighten;
  }
  
  .haru {
    position: relative;
    width: 358px;
    height: 358px;
    top: 248px;
    left: 743px;
  }
  .natu {
    position: relative;
    width: 358px;
    height: 358px;
    top: 338px;
    left: 196px;
  }
  .aki {
    position: relative;
    width: 358px;
    height: 358px;
    top: 338px;
    left: 206px;
  }
  .fuyu {
    position: relative;
    width: 358px;
    height: 358px;
    top: 415px;
    left: -712px;
  }
  .koi {
    position: relative;
    width: 358px;
    height: 358px;
    top: 415px;
    left: -703px;
  }
  .kiryo {
    position: relative;
    width: 358px;
    height: 358px;
    top: 51px;
    left: 1116px;
  }
  .ribetu {
    position: relative;
    width: 358px;
    height: 358px;
    top: 133px;
    left: 200px;
  }
  .zatu {
    position: relative;
    width: 358px;
    height: 358px;
    top: 133px;
    left: 207px;
  }
  
  .explain {
    position: relative;
    left: 50px;
    top: -450px;
    width: 250px;
    height: 450px;
    background-color: white;
    writing-mode: vertical-rl;
    padding: 20px 10px;
  }
  
  .footer {
    position: relative;
    width: 1409px;
    text-align: center;
  }
  footer {
    width: auto;
    height: 200px;
  }
  
  