html{
  height:auto;
}
body{
    margin: 0;
    padding:0;
    font-family: 'Shippori Mincho', serif;
    height: auto;
}
.backgroundimg {
    position: relative;
    background-image: url("image/seigaiha.png");
    width: 100%;
    /* width:100%; */
    height: 1050px;
    /* background-repeat: no-repeat; */
    background-color: rgba(255, 255, 255, 0.8);
    background-blend-mode: lighten;
  }

  .haru {
    clip-path:url(#cpath1);
    position: absolute;
    width: 303px;
    height: 161px;
    top: 281px;
    left: 754px;
  }
  .natu {
    clip-path:url(#cpath2);
    position: absolute;
    top: 363px;
    left: 573px;
  }
  .aki {
    clip-path:url(#cpath2);
    position: absolute;
    top: 363px;
    left: 935px;
  }
  .koi {
    clip-path:url(#cpath1);
    position: absolute;
    width: 301px;
    height: 161px;
    top: 434px;
    left: 394px;
  }
  .fuyu {
    clip-path:url(#cpath1);
    position: absolute;
    width: 303px;
    height: 161px;
    top: 434px;
    left: 754px;
  }
  
  .kiryo {
    clip-path:url(#cpath1);
    position: absolute;
    width: 301px;
    height: 161px;
    top:434px;
    left: 1117px;
  }
  .ribetu {
    clip-path:url(#cpath2);
    position: absolute;
    top: 518px;
    left: 573px;
  }
  .zatu {
    clip-path:url(#cpath2);
    position: absolute;
    top: 518px;
    left: 935px;
  }
  h1{
    font-size: 30px;
  }
  h2{
    font-size: 20px;
  }
  .explain p{
    font-size: 15px;
  }
  .explain {
    position: absolute;
    top: 250px;
    left: 70px;
    height: 470px;
    background-color: white;
    writing-mode: vertical-rl;
    padding: 30px 0px;
  }
  
  .linkougi{
    position: relative;
    width:1409px;
    height: 1080px;
    /* border: solid; */
    overflow: hidden;
  }
  .sankou {
    position: absolute;
    top: 915px;
    font-size:10px;
    width: 1409px;
    text-align: center;
  }
  .sankou h1{
    font-size:10px;
  }

  

  .footer {
    position: relative;
    font-size:23px;
    top: 0px;
    width: auto;
    text-align: center;
   
  }
  .footer p {
    margin: 15px;
  }
  
  /*タイトル入れる雲？ */
  .title{
    position:absolute;
    z-index: 5;
    width: 100%;
    height: 15%;
  }

/* 雲達 */
.kumo{
  position: relative;
}
.kumo img{
  position: absolute;
  z-index: 10;
}


/* 雲の場所 */
.kumo1{ /* 左上 */
  width:40vw;
  top: -50px;
  left: 0px;
  animation:fwari ease-in-out 3s infinite alternate;
}
.kumo4{  /* 右上 */
  width:20vw;
  top: 650px;
  left: 30px;
  animation:fwari ease-in-out 4s infinite alternate;
}
.kumo6{ /* 右下小 */
  width:20vw;
  top: 550px;
  left: 1200px;
  animation:fwari ease-in-out 3s infinite alternate;
}


.kumo5{ /* 右上 */
  width: 18vw;
  top: 90px;
  left: 1200px;
  animation:fwari ease-in-out 4s infinite alternate;
}
.kumo2{/* 右下大 */
  width: 40vw;
  top: 583px;
  left: 803px;
  animation:fwari ease-in-out 4s infinite alternate;
}
.kumo11{/* 左上小 */
  width: 15vw;
  top: 190px;
  left: 0px;
  animation:fwari ease-in-out 3s infinite alternate;
}

.kumo3{ /* 左上 */
  width:42vw;
  top: 610px;
  left: 930px;
  animation:fwari2 ease-in-out 4s infinite alternate;
}

.kumo7{ /* 左上 */
  width:40vw;
  top: 800px;
  left: 50px;
  animation:fwari ease-in-out 3s infinite alternate;
}

.kumo8{ /* 左上 */
  width:40vw;
  top: 1600px;
  left: 900px;
  animation:fwari ease-in-out 4s infinite alternate;
}

.kumo9{ /* 左上 */
  width:45vw;
  top: 770px;
  left: 600px;
  animation:fwari2 ease-in-out 4s infinite alternate;
}

.kumo10{ /* 左上 */
  width:40vw;
  top: 1830px;
  left: 0px;
  animation:fwari ease-in-out 3s infinite alternate;
}


.kumo_manager{
  width:100%;
  overflow: hidden;
}

@keyframes fwari{
  0%   { transform:translate(-10%, 0%); }
  100% { transform:translate(0%, -30px); }
}
@keyframes fwari2{
  0%   { transform:translate(-10%, 0%); }
  100% { transform:translate(0%, -40px); }
}


